*{
  margin:0;
  
}
img {
  max-width: 350px;
  border-radius: 20px;
}
textarea{
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(255, 253, 253);
}
.container {
  padding: 0;
  display: grid;
  grid-template-columns: 400px 1fr;
  justify-content: space-between;
  height: 100vh;
}
.right-side{
  padding-top: 50px;
  padding-left: 50px;
  background-color: rgb(209, 222, 239);
  }
.sidebar{
  padding:20px;
  border: 1px solid rgb(210, 207, 207);
  background-color: rgb(209, 222, 239);
}
.text-file{
  width: 350px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(255, 253, 253);
  outline: none;
  border: none;
  margin-top: 2px;
}
.form-group{
  margin-top: 50px;
}

.box3{
  width: 400px;
}
.dropp{
  border: 1px solid rgb(140, 139, 139);
  width: 500px;
  padding: 50px;
  text-align: center;
}
.box3{
  height: 300px;
  width: 500px;
  
}
.drop-file{
  border: 1px solid rgb(140, 139, 139);
  width: 500px;
  padding: 50px;
}